<header class="header">
	<div class="col-lg-12 text-center">
		<h1>Get!</h1>
		<div class="image_on_bg">
			<div class="cp">
				<i>CP</i>
				<b>100</b>
			</div>
			<div class="bg_img">
	    	<%= image_tag("tatsuya.jpg", :class => "img-bg") %></div>
	    	<h3>Tatsuya1970</h3>
	   	</div>
	   	<h2>Level 1</h2>
	</div>
	<div style="padding: 3em;"></div>
</header>